DB_USERNAME=postgres
DB_PASSWORD=your_postgres_password
FOURSQUARE_API_KEY=your_foursquare_api_key
STRIPE_SECRET_KEY=your_stripe_secret_key
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret